<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
</head>
<body>

	<div>Hi</div>

	<form action='addNewPlayer' method='post'>
		<label>Add a Player to the Database</label>
		<input tpe='text' placeholder='First Name' name='playerFirstName'>
		<input tpe='text' placeholder='Last Name' name='playerLastName'>
		<input tpe='text' placeholder='Rank' name='playerRank'>
		<button type='submit'>Submit </button>
	</form>

	<br>
	<a href='testKnowledge'><button>Test Your Knowledge</button></a>
</body>
</html>